<footer class="site-footer">
  <div class="container footer-content">
    <div class="footer-left">
      <p>Built by <a href="{{ site.Params.authorURL }}" target="_blank" rel="noopener noreferrer">{{ site.Params.author }}</a></p>
      <p><a href="{{ site.Params.blogPostURL }}" target="_blank" rel="noopener noreferrer">The research behind this project &nearr;</a></p>
    </div>
    <div class="footer-right">
      <p>MIT License</p>
      <p><a href="{{ site.Params.repoURL }}" target="_blank" rel="noopener noreferrer">GitHub &nearr;</a></p>
    </div>
  </div>
</footer>
